.content-information{
  display: flex;
}

.card-info{
  width: 50%;
}

.information {
  margin-top: 5px;
  display: flex;
}

.icon-completed {
  width: 20px;
  height: 20px;
  background-color: var(--green-color);
  border-radius: 20px;
}

.icon-cancel {
  width: 20px;
  height: 20px;
  background-color: var(--red-color);
  border-radius: 20px;
}

.icon-avaliable {
  background-color: var(--gray-color);
  border-radius: 20px;
  width: 20px;
  height: 20px;
}

.info {
    width: 80%;
}

.earnings{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  border-radius: 20px;
  width: 170px;
  height: 90px;
  background-color: var(--blue-color);
  color: var(--white-color);
  font-weight: bolder;
  opacity: 0.7;
}
