.content {
  margin-top: 5px;
  display: flex;
}

.icon-completed {
  width: 20px;
  height: 20px;
  background-color: var(--green-color);
}

.icon-cancel {
  width: 20px;
  height: 20px;
  background-color: var(--red-color);
}

.icon-avaliable {
  width: 20px;
  height: 20px;
  background-color: var(--gray-color);
}

.information {
    width: 80%;
}
