
.container-turn{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 20px;
    justify-content: center;
    box-shadow: 2px 10px 15px 1px black;
    padding-bottom: 20%;
}

.style-form{
    width: 100%;
}

.conatiner-search{
    margin-left: 5%;
    margin-right: 5%;
}

.hold-over-botton{
    background: #ea525f ;
    border: none;
    color: white;
    margin-top: 4%;
    width: 70%;
    margin-left: 5%;
}

.turn-list-content{
    background: #eee8e8;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 80%;
    margin-left: 5%;
    margin-top: 8%;
    padding: 2%;
}



