@import "../../index.css";

.container-turn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 20px;
  justify-content: center;
  box-shadow: 2px 2px 5px 1px gray;
}

.style-form {
  width: 100%;
}

.form-select-active{
   background-color: var(--blue-color) !important;
   color: var(--white-color) !important;
}

.conatiner-search {
  display: flex;
  height: 5vh;
  gap: 15px;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  margin-top: 5%;
}

.hold-over-botton {
  background: var(--red-color);
  border: none;
  color: var(--white-color);
  margin-top: 1%;
  margin-bottom: 2%;
  width: 70%;
  margin-left: 5%;
  box-shadow: 2px 2px 5px 1px gray;
}

.style-schedule-button{
  background: var(--blue-color);
  border: none;
  color: var(--white-color);
  box-shadow: 2px 2px 5px 1px gray;
  padding: 7px;
}

.style-schedule-button:active {
  font-weight: bolder;
  color: var(--white-color);
}

.turn-component {
  display: flex;
}

.turn-list-content {
  background: var(--white-color);
  border-radius: 20px;
  border: solid 2px var(--blue-color);
  display: flex;
  height: 60vh;
  flex-direction: column;
  margin: 2%;
  overflow-y: scroll;
  position: relative;
}

.input-group{
  background-color: var(--blue-color);
  border-radius: 20px;
  color: var(--white-color);
  font-size: 12px;
  margin-top: 3%;
  text-align: center;
  box-shadow: 1px 1px 5px gray;
}

.title-client{
 padding: 10px;
 
}

.turn-title {
  position: sticky;
  top: 0;
  background-color: var(--blue-color);
  color: var(--white-color);
  border-radius: 20px;
  padding: 7px;
  margin: 0;
}

.move-turns{
  background-color: var(--green-color);
}

.disabled-turns{
  background-color: var(--red-color);
}
