.turn-container {
    align-items: center;
    background-color: var(--red-color);
    border-radius: 7px;
    border: 2px solid white;
    cursor: pointer;
    display: flex;
    margin-right: 8%;
    margin-left: 10px;
}

.text-style{
    color: white;
    font-weight: bolder;
    font-size: 20px;
}

.turn-text {
    align-items: flex-start;
    display: flex;
    width: 80%;
    height: auto;
    justify-content: center;
}

.text-date {
    font-size: 10px;
    color: white;
}

.turn-icon {
    width: 25px;
    height: 25px;
    margin: 5px;
}

.material-icons {
    font-size: 30px;
    color: white
}

.turn-container.completed {
    background-color: green;
    text-decoration: line-through;
}


.icons {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 70px;
    display: flex;
    background-color: white;
    margin: 8px;
}