
.times-list-content{
    background: var(--white-color);
    border-radius: 20px;
    border: solid 2px var(--blue-color);
    
    overflow-y: scroll;
    box-shadow: 2px 2px 5px 1px gray;
}

.usertime{
  height: 30vh;
}

.moneyByDay,
.bestDay,
.customerGoes,
.totalPay{
  height: 10vh;
}
.times-container {
    align-items: center;
    background-color: var(--blue-color);
    border-radius: 7px;
    border: 2px solid var(--white-color);
    cursor: pointer;
    color: var(--white-color);
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 2px 2px 5px 1px gray;
  }

  

  .times-style-name{
    color: var(--white-color);
    font-size: 20px;
    width: 50%;
  }
  
  .text-style-completed{
    color: var(--white-color);
    font-weight: bolder;
    font-size: 10px;
    width: 50%;
  }

  .modal-footer{
    display: block;
  }