
.times-list-content{
    background: var(--white-color);
    border-radius: 20px;
    border: solid 2px var(--blue-color);
    overflow-y: auto;
    box-shadow: 2px 2px 5px 1px gray;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}

.usertime{
  height: 20vh;
}

.moneyByDay,
.bestDay,
.customerGoes,
.totalPay{
  height: 10vh;
}
.times-container {
    align-items: center;
    background-color: var(--blue-color);
    border-radius: 7px;
    border: 2px solid var(--white-color);
    cursor: pointer;
    color: var(--white-color);
    display: flex;
    width: 100%;
    gap: 30%;
    box-shadow: 2px 2px 5px 1px gray;
  }

  .times-style-name{
    color: var(--white-color);
    font-size: 20px;
    width: 50%;
  }
  
  .text-style-completed{
    color: var(--white-color);
    font-weight: bolder;
    font-size: 10px;
  }

  .text-style-result{
    color: var(--blue-color);
    font-weight: bolder;
  }

  .container-text{
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    gap: 20%;
    flex-direction: row;
  }