
.container-home {
    align-items: center;
    background: var(--white-color);
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    box-shadow: 2px 2px 5px 1px gray;
    padding: 4%;
    position: relative;
}

.container-options{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.style-text-title{
    margin-top: 10px;
    font-size: 20px;
    color: var(--blue-color);
    font-weight: bolder;
}

.container-render{
    margin-top: 4%;
}

.turn-botton{
    background: var(--blue-color);
    border-radius: 80%;
    color: var(--white-color);
    margin: 2%;
    padding: 3px;
    box-shadow: 2px 2px 5px 1px gray;
}

.turn-botton-selected{
    background: var(--red-color) !important;
}



