:root {
  --red-color: #ea525f; 
  --white-color: #eee8e8;
  --blue-color: #2c95cf;
  --white-color: white;
  --orange-color: #f77c3e;
  --green-color:  #0e9c00;

}

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
