.container-turn-schedule{
    border-radius: 7px;
    border: 2px solid  var(--white-color);
    box-shadow: 2px 2px 5px 1px gray;
    margin-top: 10%;
    margin-left: 1%;
    margin-right: 1%;
    overflow-y: scroll;
    height: 40vh;
}

.container-schedule{
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}