.turn-form{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10%;
}

.turn-input{
    width: 350px;
    font-size: 18px;
    background-color: white;
    padding: 14px 32px 14px 16px;
    border-radius: 10px;
    border: 2px solid #2c95cf;
    margin-top: 9px;
}

.turn-botton{
    box-shadow: 2px 2px 5px 1px black;
    background: #2c95cf;
    border: none;
    color: white;
    margin-top: 15px;
}