.turn-form{
    align-items: center;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 1px gray;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 3%;
}

.turn-input{
    width: 80%;
    font-size: 18px;
    background-color: var(--white-color);
    border-radius: 10px;
    border: 2px solid var(--blue-color);
    margin-top: 9px;
}

.create-turn{
    box-shadow: 2px 2px 5px 1px gray;
    background: var(--blue-color);
    border: none;
    color: var(--white-color);
    margin-top: 15px;
    font-size: 15px;
    padding: 5px;
}

.create-turn:active {
    font-weight: bolder;
    color: var(--white-color);
  }